.main {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shade);
}

.hero {
  min-height: 100vh;
  position: relative;
}

.navbar {
  width: 100vw;
  height: var(--unit);
  background-color: rgb(217, 217, 217);
  position: relative;
  display: flex;
  justify-content: space-between;

  .acmeLogo {
    width: var(--unit);
    height: var(--unit);
    background-color: #ec7404;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoTxt {
      width: 40px;
      height: 40px;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .logoTxt > h4 {
    font-size: 0.7rem;
  }
  .logoTxt > h6 {
    font-size: 0.5rem;
  }

  .links {
    width: 250px;
    height: var(--unit);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4vw;
  }

  .links a {
    color: rgb(111, 104, 104);
    position: relative;
  }

  .links a:hover {
    color: rgb(13, 12, 12);
  }

  .links a::after {
    content: "";
    position: absolute;
    background-color: #ec7404;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    /* transform-origin: right; */
    transition: transform 250ms ease-in;
  }

  .links a:hover::after {
    transform: scaleX(1);
    /* transform-origin: left; */
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heroTxt,
.formContainer {
  max-width: 25rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.heroTxt h1 {
  font-size: 2.1em;
  margin-bottom: 2rem;
}
.heroTxt h2 {
  margin-bottom: 0.5rem;
}

/* Application Form */
.formContainer {
  width: 20rem;
  padding: 1rem;
  background-color: var(--shade);

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  width: 240px;
}

.inputContainer input {
  width: 100%;
  height: 2.5rem;
  padding: 10px;
  background: rgba(217, 217, 217, 0.6);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1.2em;
  transition: 0.5s;
}

.inputContainer span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: whitesmoke;
  transition: 0.5s;
}

.inputContainer input:valid ~ span,
.inputContainer input:focus ~ span {
  color: var(--mainCLR);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 1px 3px;
  background: var(--mainCLR);
  color: #1d2b3c;
  border-radius: 3px;
  letter-spacing: 0.2em;
}

.inputContainer input:valid,
.inputContainer input:focus {
  border: 3px solid var(--mainCLR);
}

.form h6 {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.callMe {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: var(--mainCLR);
  color: rgb(31, 28, 28);
  padding: 0.2em 1em;
  border-radius: 0.25em;
  position: relative;
  isolation: isolate;
  margin: 0 0 0.5rem;
}

.callMe::after,
.submitCV::after,
.fillForm::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--btnCLR);
  inset: 0;
  scale: 0 1;
  /* transform-origin: right; */
  transition: scale 450ms;
}

.callMe:hover::after,
.callMe:focus-visible::after,
.submitCV:hover::after,
.submitCV:focus-visible::after,
.fillForm:hover::after,
.fillForm:focus-visible::after {
  /* transform-origin: left; */
  scale: 1 1;
}

.sendCV {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: rgba(217, 217, 217, 0.6);
}

.submitCV {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(221, 214, 214);
  color: rgb(33, 33, 33);
  padding: 0.2em 1em;
  border-radius: 0.25em;
  position: relative;
  isolation: isolate;
}

.fillForm {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--mainCLR);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  position: relative;
  isolation: isolate;
}

.formMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  line-height: 1.5em;
}

/* Candidates Group */
.groupBkg {
  position: absolute;
  top: var(--unit);
  right: 0;
  width: 50%;
  height: 80vh;
  background: var(--shade);
}

.candidateGroup {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 50%;
  height: 90vh;
  background-image: url("../public/group.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

/* @media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
