.main {
  width: 100vw;
  height: var(--unit);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 19, 0.7);
 -webkit-box-shadow: 0px -5px 15px -10px #F0FFFF; 
box-shadow: 0px -5px 15px -10px #F0FFFF;
  z-index: 99;
}